%h1
  Hello

%p
  , find me in app/views/comment_mailer/new_comment.html.haml"
%h1 
  A new comment was posted for your 
  %br
  = @user.first_name.capitalize
  = @user.last_name.capitalize

  %br
  = @game.name.capitalize
  = @group.id



