<div class="container-fluid">
  <div class="top-games-wrap">
    <h1>Groups#index</h1>
    <p>Find me in app/views/groups/index.html.erb</p>
  
  <hr>
  <div class="table-wrap">
    <table class="table table-striped table-hover">
      <thead>
        <tr class="sortable-table">
          <th>
            Id
          </th>
          <th>
            Group
          </th>
          <th class='hide-element'>
            Group Creator
          </th>
          <!-- <th class='hidden-xs'>
            User id
          </th>
          <th class='hidden-xs'>
            Cust id
          </th> -->
          <th>
            Lottery
          </th>
          <th>
            Encore
          </th>
          <th>
            Number of draws
          </th>
          <th>
            Shares
          </th>
          <th>
            Cost/Share
          </th>
          <th>
          </th>
          <th>
          </th>
          <th>
          </th>
        </tr>
      </thead>
    
      <tbody>
        <%= render "groups/group" %> 
      </tbody>
    </table>
  </div> 
  
  
  </div>
</div>


